.card1 {
    width: 500px;
    height: 125px;
    background: #243137;
    position: relative;
    display: grid;
    place-content: center;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

#logo-main,
#logo-second {
    height: 100%;
}

#logo-main {
    fill: #3B82F6;
}

#logo-second {
    padding-bottom: 10px;
    fill: none;
    stroke: #3B82F6;
    stroke-width: 1px;
}

.border {
    position: absolute;
    inset: 0px;
    border: 2px solid #3B82F6;
    opacity: 0;
    transform: rotate(10deg);
    transition: all 0.5s ease-in-out;
}

.bottom-text {
    position: absolute;
    left: 50%;

    bottom: 0px;
    transform: translateX(-50%);
    font-size: 6px;
    text-transform: uppercase;
    padding: 0px 5px 0px 8px;
    color: #3B82F6;
    background: #243137;
    opacity: 0;
    letter-spacing: 7px;
    transition: all 0.5s ease-in-out;
}

.content1 {
    transition: all 0.5s ease-in-out;
}

.content1 .logo {
    height: 50px;
    position: relative;
    width: 40px;
    overflow: hidden;

    transition: all 1s ease-in-out;
}

.content1 .logo .logo1 {
    height: 33px;
    font-size: 40px;
    position: absolute;
    left: 0;
}

.content1 .logo .logo2 {
    height: 33px;
    font-size: 40px;
    position: absolute;
    left: 33px;
}

.content1 .logo .trail {
    position: absolute;
    right: 0;
    height: 100%;
    width: 200px;
    opacity: 0;
}

.content1 .logo-bottom-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 15px;
    color: #3B82F6;
    padding-left: 10px;
    font-size: 16px;
    opacity: 0;
    width: 400px;
    letter-spacing: none;
    transition: all 0.5s ease-in-out 0.5s;
}

.card1:hover {
    border-radius: 0;
    transform: scale(1.1);
}

.card1:hover .logo {
    width: 400px;
    animation: opacity 1s ease-in-out;
}

.card1:hover .border {
    inset: 15px;
    opacity: 1;
    transform: rotate(0);
}

.card1:hover .bottom-text {
    margin-top: 10px;
    opacity: 1;
    font-size: 20px;
    transform: translateX(-50%);
}

.card1:hover .content1 .logo-bottom-text {
    opacity: 1;
    font: bold;
    font-size: 16px;
    width: 400px;
    margin-left: 10px;

}

.card1:hover .trail {
    animation: trail 1s ease-in-out;
}

@keyframes opacity {
    0% {
        border-right: 1px solid transparent;
    }

    10% {
        border-right: 1px solid #3B82F6;
    }

    80% {
        border-right: 1px solid #3B82F6;
    }

    100% {
        border-right: 1px solid transparent;
    }
}

@keyframes trail {
    0% {
        background: linear-gradient(90deg, rgba(189, 159, 103, 0) 90%, #3B82F6 100%);
        opacity: 0;
    }

    30% {
        background: linear-gradient(90deg, rgba(189, 159, 103, 0) 70%, #3B82F6 100%);
        opacity: 1;
    }

    70% {
        background: linear-gradient(90deg, rgba(189, 159, 103, 0) 70%, #3B82F6 100%);
        opacity: 1;
    }

    95% {
        background: linear-gradient(90deg, rgba(189, 159, 103, 0) 90%, #3B82F6 100%);
        opacity: 0;
    }
}